h1
{
    color: red;
    text-align: center;
}
h2
{
    color: red;
    text-align: center;
}
h3
{
  color: red;
  text-align:left;
}
nav 
{
  border: 2px solid #ff0000;     
  padding: 15px;               
  margin: 20px;                
  border-radius: 10px;         
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

nav ul 
{
  list-style-type: none;       
  padding: 0;                  
  margin: 0;                   
  display: flex;               
  justify-content: center;    
  gap: 20px;                   
}

nav ul li 
{
  position: relative; 
}

nav ul li a 
{
  text-decoration: none;      
  color: red;               
  font-size: 18px;             
}


.system-items
 {
  display: none;
  position: absolute;
  top: 100%;  
  left: 0;
  background-color: #000000;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 5px;
  min-width: 150px;
}


.system-dropdown:hover .system-items 
{
  display: block;
}


.system-items li a 
{
  display: block;
  padding: 10px 15px;
  color: rgb(255, 0, 0);  
  text-decoration: none;
  font-size: 16px;
}


.system-items li a:hover 
{
  color: #000000;
  background-color: #ff0000;
}

body
{
    background-color: black;
}
.centerImg
 {
  display: block;  
  margin-left: auto;  
  margin-right: auto; 
}
p
{
    text-align: center;
    color: red;
}

.comparison
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.system
{
  text-align: center;
  
  border: 3px solid #ff0000; 
  padding: 20px; 
  margin: 20px; 
  border-radius: 10px;

}

.spriteComparisons
{
  color: #ff0000;
  position: relative;
  display: inline-block;
}

.spriteComparisons img
{
  display: block;
  width: 100%;
  height: auto;
}
.controller .centerImage 
{
  margin-left: auto;
  margin-right: auto;      
 
}
.controller 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.controller figure
 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin: 20px 0;
}

.controller figure img 
{
    cursor: pointer; 
    margin-bottom: 15px; 
}


.image-popup 
{
    display: none;          
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 700px;
    z-index: 1000;
    font-size: 14px;
    font-size: larger;
}

.shop 
{
  display: flex;
  flex-direction: column;
  align-items: center;   
  text-align: center;   
  border: 3px solid #ff0000;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.product
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;           
  justify-content: flex-start; 
  gap: 10px;
  font-size: larger;
}

.description
{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


