h1
{
    color: red;
    text-align: center;
}
h2
{
    color: red;
    text-align: center;
}

nav 
{
  
  border: 2px solid #333;     
  padding: 15px;               
  margin: 20px;                
  border-radius: 10px;         
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

nav ul 
{
 
  list-style-type: none;       
  padding: 0;                  
  margin: 0;                   
  display: flex;               
  justify-content: center;    
  gap: 20px;                   
}

nav ul li a 
{
  text-decoration: none;      
   color: red;               
  font-size: 18px;             
}
body
{
    background-color: black;
}
img
 {
  display: block;  
  margin-left: auto;  
  margin-right: auto; 
}
p
{
    text-align: center;
    color: red;
}
