.graphics 
{
  text-align: center;
  
  border: 3px solid #ff0000; 
  padding: 20px; 
  margin: 20px; 
  border-radius: 10px;

}
h2
{
    font-size: 50px;
    color: #ff0000;
}
body
{
    background-color: black;
}
.comparison
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
