body 
{
    margin: 0;
    /*Overflow-x hidden is used so the page does not let user scroll to the rightside of page, due to transformation properties
    user was originally allowed to scroll right letting the user see where the background image ended making it look unfinished */
    overflow-x:hidden;
    
    background-color: black;
    /*makes background into image of choice, I chose the same poster that im referenced but with no text */
    background-image: 
    url("Images/Back_to_the_Future_Part_II_Textless_Poster.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative; 
}

/*BTTF or Back to the Future font is a fan created font from 2002 that tries to replicate the iconic Back to the Future title */
@font-face 
{
    font-family: 'BTTF';
    src: url('Fonts/BTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*SteelTongs is a font thats used in movie posters to show the production team */
@font-face 
{
    font-family: 'SteelTongs';
    src: url('Fonts/SteelTongs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header 
{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    position: absolute;
    right: 10px;            
    top: 550px;  
    font-family: sans-serif; /*fallback font for header children*/            
 
}
/*the text "From the creators of..." */
header .previousCreations
{
    text-align: center;
    color: rgb(255, 255, 0);
    font-family: 'playfair display';
    font-size:45px;
   
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 1);
    transform: translateY(-600px) translateX(-350px); 
}

header .mainActors
 {

    text-align: center;   
    color: rgb(7, 208, 243);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px; 
    line-height: 20%;
    font-family: 'Bungee';
    text-shadow: 20px 20px 10px rgba(0,0,0,1);
    transform: translateY(0px) translateX(250px);
    
 }

 main
 {
    text-shadow: 20px 20px 10px rgba(0,0,0,1);
    color:yellow;
    font-family: sans-serif;  /* fallback for children class*/
    transform: translateY(-100px);
   
 }
 main .Tagline
{
    line-height:2cm;
    font-size:  54px;
   
    font-family: 'playfair display';
    
   transform: translateY(500px) translateX(1350px);
}
main .Tagline .bottomtext
{
    transform: translateY(-80px) translateX(85px);
}
main .mainTitle 
{
    text-align: center;  
    margin: 6;
    padding: 0;
    font-size: 40px;
    line-height: 1;
    color: rgb(255, 81, 0);
    font-family: 'BTTF';
   
    transform: translateY(650px) translateX(640px);
    
}

/*due to how the movie title has text in various positions It was required to seperate each part into its own subclass to move them  */
main .mainTitle .top 
{
    transform: translateX(-132px) translateY(470px);
}

main .mainTitle .middle 
{
    transform: translateY(416px);
}

main .mainTitle .bottom 
{
    transform: translateX(151px) translateY(360px);
}




main .mainCreators
{
    color: white;
    font-size: 30px;
    text-align: right;
    transform: translateY(416px) translateX(-189px);
    font-family: 'SteelTongs';
 
   
}
main .mainCreators .robert
{
   transform: translateY(227px);
}




main .outsideLinks
{
   
    font-family: 'Bungee';
    font-size: 30px;
    text-align: right;
    transform: translateY(800px)
}

main .outsideLinks .review
{
    transform: translateX(-60px)
}
a
 {
     
    text-decoration: none; 
   color:yellow;

}

a:hover
{
    color:red;
}




.otherCredits
{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 69px;
    transform: translateY(350px);
    line-height: 0cm;
    word-spacing: 5px;
    background-color: rgba(0,0,0,0.8);
    font-family: 'SteelTongs';
}


.Logos
{
    position:absolute;
}

/*this was a required element due to the fact that the poster background kept collapsing in on itself due what im assmuming the program 
doesn't like white spaces....without this class the entire page becomes a mess */
.spacer 
{
    height: 1100px; 
}
