body 
{
    margin: 0;
    overflow-x:hidden;
    background-color: black;
    background-image: 
    url("Images/Back_to_the_Future_Part_II_Textless_Poster.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative; 
}

.Others
{
    font-family: 'SteelTongs';
}


@font-face 
{
    font-family: 'BTTF';
    src: url('Fonts/BTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'SteelTongs';
    src: url('Fonts/SteelTongs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.intro
{
    text-align: center;
    color: rgb(255, 255, 0);
    font-family: 'playfair display',sans-serif;
    font-size:45px;
}
.header 
{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    position: absolute;
    right: 10px;            
    top: 30%;               
    transform: translateY(-50%); 
}
.Mainguys
{
    color: white;
    font-size: 30px;
    text-align: right;
    transform: translateY(11cm) translateX(-10cm);
    font-family: 'SteelTongs', sans-serif;
}
.Mainguys .Bottomguy
{
    transform:translateY(6cm) translateX(5cm);
}

.attentionDraw
 {

    text-align: center;   
    color: rgb(7, 208, 243);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px; 
    line-height: 20%;
    font-family: 'Bungee', sans-serif;
    text-shadow: 20px 20px 10px rgba(0,0,0,0.8);
    transform: translateY(2cm) translateX(-3mm);
    
 }
.Tagline
{
    line-height:2cm;
    font-size:  54px;
    color: rgb(255, 255, 0);
    font-family: 'playfair display',sans-serif;

 
}
.Tagline .bottomtext
{
    transform: translateY(-100%) translateX(17%);
}


.outsideLinks
{
    color: rgba(255,255,0);
    font-family: 'Bungee', sans-serif;
    font-size: 30px;
    text-align: right;
    transform: translateY(800px)
}

.outsideLinks .review
{
    transform: translateX(-60px)
}
a {
    color: yellow;     
    text-decoration: none; 
}

.mainTitle h1 
{
    text-align: center;  
    margin: 0;
    padding: 0;
    font-size: 80px;
    line-height: 1;
    color: rgb(255, 81, 0);
    font-family: 'BTTF', sans-serif;
    text-shadow: 20px 20px 10px rgba(0,0,0,0.8);
}

.top 
{
    transform: translateX(-24%);
}

.middle 
{
    transform: translateX(0);
}

.bottom 
{
    transform: translateX(30%);
}



.Others 
{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 69px;
    transform: translateY(180%);
    line-height: 0cm;
    word-spacing: 5px;
    background-color: rgba(0,0,0,0.8);
}

.Micheal
{
    transform: translateX(0%);
}
.Logos
{
    position:absolute;
}

.spacer 
{
    height: 1100px; 
}
